## -----------------------------------------
## Configuration file for exif2picture.pl
##
## Version 1.0 - 2012-08-26
##
## Copyright (C) 2012 Klaus Tockloth
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program. If not, see <http://www.gnu.org/licenses/>.
##
## Contact (eMail): <freizeitkarte@googlemail.com>
##
## Reserverd words:
## - Source image: [SOURCEFILE]
## - Destination image: [DESTINATIONFILE]
## - ##: comment
##
## Exif tags:
## - Delimiter: {}
## - Example: {Camera Model Name}
##
## Remarks:
## - each exif tag will be replaced by its value
## - example: "{Camera Model Name}" -> "EX-Z75"
## - surrounding text is possible; don't use the chars ' " { }
## - example: "shutter = {Shutter Speed}" -> "shutter = 1/60"
## - try '\n' for carrige return line feed
## - append / splice allows multiple runs
##
## Further information:
## - http://www.imagemagick.org/Usage/annotating/
##
## Tools:
## - ImageMagick: http://www.imagemagick.org/script/index.php
## - ExifTool: http://owl.phy.queensu.ca/~phil/exiftool/
##
## Path to fonts:
## - OS X   : /Library/Fonts/
## - Example: -font "/Library/Fonts/Comic Sans MS.ttf"
## - Windows: \Windows\Fonts\
## - Example: -font "\Windows\Fonts\COMIC.TTF"
## -----------------------------------------

## Append a label (above the image) with centering:
convert
[SOURCEFILE]
-gravity "North"
-background "Orange"
-font "/Library/Fonts/Comic Sans MS.ttf"
-pointsize "16"
-splice "x24"
-annotate "+0+0"
"Vacation August 2012"
[DESTINATIONFILE]
